# Shell colors
alias ls='ls --color'
alias grep='grep --color'
alias fgrep='fgrep --color'
alias egrep='egrep --color'

# Shell
alias ll='ls -alF --group-directories-first'
alias lld='ll -d'
alias rm='rm -iv'
alias cp='cp -iv'
alias mv='mv -iv'
alias mkdir='mkdir -pv'
alias shh='echo "No, YOU be quiet!" #'

# Python virtualenv
alias pve='source venv/bin/activate'

# Git
alias ga='git add'
alias gap='ga -p'
alias gb='git branch'
alias gbd='gb -d'
alias gbdd='gb -D'
alias gbm='gb -m'
alias gch='git checkout'
alias gchb='gch -b'
alias gchm='gch master'
alias gchmu='gchm; gpl'
alias gco='git commit'
alias gcoa='gco --amend'
alias gcom='gco -m'
alias gcomm='gcom "mblakesley was here"'
alias gcomma='gcomm --allow-empty'
alias gd='git diff'
alias gdc='gd --cached'
alias gdn='gd --name-status'
alias gds='gd --stat'
alias gdh='gdh1'
alias gdh1='gd HEAD~1'
alias gdh2='gd HEAD~2'
alias gdh3='gd HEAD~3'
alias gl='git log'
alias glo='gl --oneline --graph'
alias gm='git merge'
alias gpl='git pull'
alias gps='git push'
alias gpsf='gps -f'
alias gpsu='gps -u origin'
alias greb='git rebase'
alias greba='greb --abort'
alias grebc='greb --continue'
alias grebi='greb -i'
alias grebm='grebi master'
alias grebmu='gchmu; gch -; grebm'
alias grebh='grebh1'
alias grebh1='grebi HEAD~1'
alias grebh2='grebi HEAD~2'
alias grebh3='grebi HEAD~3'
alias grebh4='grebi HEAD~4'
alias grebh5='grebi HEAD~5'
alias grebh6='grebi HEAD~6'
alias grebh7='grebi HEAD~7'
alias grebh8='grebi HEAD~8'
alias grebh9='grebi HEAD~9'
alias gres='git reset'
alias gresh='gresh1'
alias gresh1='gres HEAD~1'
alias gresha='gres --hard'
alias gs='gb; git status'
alias gsa='gb -a; git status'
alias gst='git stash'
alias gstc='gst clear'
alias gstl='gst list'
alias gstp='gst pop'

