# Shell colors
alias ls='ls --color'
alias grep='grep --color'
alias fgrep='fgrep --color'
alias egrep='egrep --color'
alias diff='diff --color'

# Shell
alias ll='ls -lF --group-directories-first'
alias lla='ll -a'
alias lld='ll -d'
alias rm='rm -iv'
alias cp='cp -iv'
alias mv='mv -iv'
alias mkdir='mkdir -pv'
alias cats='head -n -0'
alias v='vim'
alias shh='echo "No, YOU be quiet!" #'
if [[ $0 != 'bash' ]]; then
	alias -g ...='../..'
	alias -g ....='../../..'
fi

# Edit common files
alias valias='v ~/.aliases'
alias vzsh='v ~/.zshrc'

# Python virtualenv
alias pmvv='python3 -m venv .venv'
alias svba='source .venv/bin/activate'

# Git
alias ga='git add'
alias gap='ga -p'
alias gb='git branch'
alias gba='gb -a'
alias gbd='gb -d'
alias gbdd='gb -D'
alias gbm='gb -m'
alias gcf='git config'
alias gcfl='gcf -l'
alias gch='git checkout'
alias gchb='gch -b'
alias gchm='gch master'
alias gchmu='gchm; gpl'
alias gcl='git clean'
alias gcli='gcl -i'
alias gco='git commit'
alias gcoa='gco --amend'
alias gcom='gco -m'
alias gcomm='gcom "mblakesley was here"'
alias gcomma='gcomm --allow-empty'
alias gd='git diff'
alias gdc='gd --cached'
alias gdn='gd --name-status'
alias gds='gd --stat'
alias gl='git log'
alias glo='gl --oneline --graph'
alias gm='git merge'
alias gpl='git pull'
alias gps='git push'
alias gpsf='gps -f'
alias gpsu='gps -u origin HEAD'
alias greb='git rebase'
alias greba='greb --abort'
alias grebc='greb --continue'
alias grebi='greb -i'
alias grebm='grebi master'
alias grebmu='gchmu; gch -; grebm'
alias gres='git reset'
alias gresha='gres --hard'
alias gs='gb; git status'
alias gsa='gba; git status'
alias gst='git stash'
alias gstc='gst clear'
alias gstl='gst list'
alias gstp='gst pop'
if [[ $0 != 'bash' ]]; then
	alias -g h1='HEAD~1'
	alias -g h2='HEAD~2'
	alias -g h3='HEAD~3'
	alias -g h4='HEAD~4'
	alias -g h5='HEAD~5'
	alias -g h6='HEAD~6'
	alias -g h7='HEAD~7'
	alias -g h8='HEAD~8'
	alias -g h9='HEAD~9'
fi

# Docker
alias da='docker attach'
alias db='docker build'
alias dcp='docker cp'
alias di='docker images'
alias din='docker inspect'
alias dl='docker logs'
alias dpl='docker pull'
alias dps='docker ps'
alias dpsa='dps -as'
alias dru='docker run'
alias drud='dru -d'
alias druit='dru -it'
alias drm='docker rm'
alias drmi='docker rmi'
alias dstp='docker stop'
alias dstr='docker start'
alias dstrai='dstr -ai'
alias dx='docker exec'
alias dxit='dx -it'

# Docker-compose
alias dc='docker-compose'
alias dcb='dc build'
alias dcu='dc up'

